li {
    padding: 1vh;
    margin: auto;
}

ul {
  /* display: flex; */
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.loader {
    border-right: 1.5vw solid #39cc00; /* Green */
    border-left: 1.5vw solid #39cc00; /* Green */
    border-bottom: 1.5vw solid #a7bde2; /* Blue */
    border-top: 1.5vw solid #a7bde2; /* Blue */
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
